# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Local development files
*.log
.DS_Store
